---
// src/pages/formuprueba2.astro
import FormuPrueba2 from '../components/forms/formuprueba2.astro';
---

<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Formulario de tarea</title>
  </head>
  <body>
    <h1>Formulario de Tarea</h1>
    <FormuPrueba2 />
  </body>
</html>
