---
import { auth, provider } from '../static/firebaseconfig';
import { signInWithPopup, onAuthStateChanged } from 'firebase/auth';
---

<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Página de Login</h1>
    <button id="loginButton">Iniciar sesión con Google</button>
  </body>
  <script>
    import { auth, provider } from '../static/firebaseconfig';
    import { signInWithPopup, onAuthStateChanged } from 'firebase/auth';

    const handleLogin = async () => {
      try {
        await signInWithPopup(auth, provider);
      } catch (error) {
        console.error('Error durante el login:', error);
      }
    };

    onAuthStateChanged(auth, (user) => {
      if (user) {
        window.location.href = '/main';
      }
    });

    document.addEventListener('DOMContentLoaded', () => {
      const loginButton = document.getElementById('loginButton');
      if (loginButton) {
        loginButton.addEventListener('click', handleLogin);
      }
    });
  </script>
</html>